<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>846773097630-jbedm3li1ft8cug7k90jdc9qf17lsqor.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.846773097630-jbedm3li1ft8cug7k90jdc9qf17lsqor</string>
	<key>API_KEY</key>
	<string>AIzaSyAZGY0QjIERMbfNNv4Z_SZVMD_EDOAtpOQ</string>
	<key>GCM_SENDER_ID</key>
	<string>846773097630</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Zaferani.Inc.Ikon</string>
	<key>PROJECT_ID</key>
	<string>ikonusers-72234</string>
	<key>STORAGE_BUCKET</key>
	<string>ikonusers-72234.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:846773097630:ios:5ad3cf14cc2d0125</string>
	<key>DATABASE_URL</key>
	<string>https://ikonusers-72234.firebaseio.com</string>
</dict>
</plist>