<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Steamboat Ski Resort</string>
	<string>Mammoth Mountain</string>
	<string>Aspen Mountain</string>
	<string>Winter Park Resort</string>
	<string>Copper Mountain Resort</string>
	<string>Eldora Mountain Resort</string>
	<string>Squaw Valley</string>
	<string>Bear Mountain</string>
	<string>June Mountain</string>
	<string>Jackson Hole Mountain Resort</string>
	<string>Banff Sunshine (Formerly Sunshine Village)</string>
	<string>Solitude Mountain Resort</string>
	<string>Brighton Ski Resort</string>
	<string>Lake Louise</string>
	<string>Big Sky Resort</string>
	<string>Stratton Mountain Resort</string>
	<string>Killington</string>
	<string>Snowshoe Mountain</string>
	<string>Mont Tremblant</string>
	<string>Blue Mountain</string>
	<string>Sugarloaf</string>
	<string>Sunday River Ski Resort</string>
	<string>Loon Mountain</string>
	<string>Deer Valley Resort</string>
	<string>Alta Ski Area</string>
	<string>Snowbird Ski and Summer Resort</string>
</array>
</plist>
